// --- align control ---
.align-left		{ text-align:		left;	}
.align-center	{ text-align:		center;	}
.align-right	{ text-align:		right;	}
.align-top		{ vertical-align:	top;	}
.align-middle	{ vertical-align:	middle;	}
.align-bottom	{ vertical-align:	bottom;	}

// --- visiable control ---
.hide			{ display: none !important;	}

// --- margin/padding control ---
.mg0			{ margin:   0px !important; }
.mg1			{ margin:   1px !important; }
.mg2			{ margin:   2px !important; }
.mg3			{ margin:   3px !important; }
.mg4			{ margin:   4px !important; }
.mg5			{ margin:   5px !important; }

.pd0			{ padding:  0px !important; }
.pd1			{ padding:  1px !important; }
.pd2			{ padding:  2px !important; }
.pd3			{ padding:  3px !important; }
.pd4			{ padding:  4px !important; }
.pd5			{ padding:  5px !important; }
