@import "_common";
@import "_size";
@import "_calendar";

// ------------------------------------------------------------------------------------------------
// content adjust
// ------------------------------------------------------------------------------------------------
input[type=checkbox],
input[type=radio]	{
	vertical-align: middle;
}
input[type=number]	{
	text-align: right;
}
html {
	position: relative;
	min-height: 100%;
}

.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}

label {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}

// datatalbesのpadding調整
.dt-bootstrap4 {
	padding: 0px !important;
}

// popup windows のXバー出る問題を調整
.dialog-window_inner {
	overflow-x: hidden;
	margin: 0px !important;
	body {
		overflow-x: hidden;
		margin: 0px !important;
	}
}

// ------------------------------------------------------------------------------------------------
// Image picker Box
// ------------------------------------------------------------------------------------------------
$img_height: 90px;
$img_width: 120px;
$img_kind_height: 22px;

.img-ul {
	overflow-x: visible;
	overflow-y: hidden;
	list-style: none;
	*display: inline;
	*zoom: 1;
	white-space: nowrap;
	padding: 1px;
	margin: 0px;
	width: auto;
	//max-width: 850px;
	border: 1px solid lightgray;
	li {
		display: inline-block;
		border-radius: 2px;
		overflow: hidden;
		margin: 0px 2px 0px 0px;
		padding: 0px;
		top: 1px;
		border: none;
		cursor: pointer;
		vertical-align: top;
		.imgthumb {
			position: relative;
			width: $img_width;
			height: $img_height;
			overflow: hidden;
			border-radius: .2rem .2rem 0rem 0rem;
			img {
				width: 100%;
				height: 100%;
			}
			&:hover{
				.ctrControl {
					display: block;
				}
			}
			.ctrControl {
				background: rgba(0,0,0,.4);
				position: absolute;
				display: none;
				left: 0;
				bottom: 0;
				margin-bottom: 0px;
				width: 100%;
				height: 24px;
				line-height: 24px;
				font-size: 18px;
				z-index: 3;
				span {
					display: inline-block;
					width: 100%;
					i {
						display: block;
						opacity: .7;
						color: #fff;
						&:hover {
							opacity: 1;
							cursor: pointer;
						}
					}
				}
			}
			.ctrDelete {
				i {
					text-align: center;
				}
			}
			.ctrBar {
				background: rgba(0,0,0,.4);
				position: absolute;
				display: none;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 3;
			}
			.ctrProgress {
				position: absolute;
				left: 0;
				top: 33px;
				width: 100%;
				height: 24px;
				line-height: 24px;
				font-size: 14px;
				text-align: center;
				color: #FFF;
				background: rgba(10,168,241,.7);
				z-index: 3;
			}
			> i {
				position: absolute;
				opacity: 0.75;
				background: #000;
				display: block;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
			> i.opacity_bg {
				opacity: 0 !important;
			}
		}
		.imgkind {
			width: 100%;
			height: $img_kind_height;
		}
		.webuploader-container {
			position: relative;
			width: $img_width;
			height: $img_height + $img_kind_height;
			background-color: white;
			i {
				position: absolute;
				left: 28px;
				top: 24px;
				font-size: 46pt;
				color: lightgray;
			}
			&:hover {
				background-color: AliceBlue;
				border: 1px solid deepskyblue;
				i {
					color: deepskyblue;
				}
			}
			label {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
			}
		}
		.webuploader-element-invisible {
			opacity: 0;
			width: 100%;
			height: 100%;
			clip: rect(1px,1px,1px,1px);
		}
		.webuploader-pick {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 100%;
		}
		.clearfix:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: ".";
			clear: both;
			height: 0px;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// Sortable UI
// ------------------------------------------------------------------------------------------------
.facility-ul {
	padding: 0px;
	// margin: -3px 1px 3px 2px;
	margin: 0px !important;
	border: 1px solid lightgray;
	list-style-type: none;
	&:after {
		clear: both;
		content: '';
		display: block;
	}
	
	li {
		float: left;
		margin: 5px 5px 0px 0px;
		min-width: 10px;
		text-align: center;
		height: 29px;
		padding-top: 0;
		padding-bottom: 0;
		border-color: rgba(0, 0, 0, 0.1);
		&:first-child:first-letter {
			text-transform: uppercase;
		}
		span {
			i {
				cursor: move;
			}
		}
	}
	.btn-label {
		margin-top: -1px;
		position: relative;
		display: inline-block;
		font-size: 12px;
		left: -12px;
		padding: 5px 8px;
		background: rgba(0,0,0,0.15);
		border-radius: 3px 0 0 3px;
	}
	a, a:hover {
		border-bottom: 0px;
		color: dimgray
	}
}

// ------------------------------------------------------------------------------------------------
// autocomplate list item
// ------------------------------------------------------------------------------------------------
.autocomplate-item {
	span {
		display: inline-block;
		width: 60px;
	}
}

// ------------------------------------------------------------------------------------------------
// map view
// ------------------------------------------------------------------------------------------------
.mapview-btn {
	position: fixed;
	right: 10px;
	bottom: 35px;
	opacity: 0.5;
}

// ------------------------------------------------------------------------------------------------
// button-group: radio, check
// ------------------------------------------------------------------------------------------------
.btn-group-opt {
	label.btn {
		background-color:lightgray;
	}

	label.active {
		background-color:blue !important;
	}

	input[type=number],
	input[type=date],
	input[type=text] {
		.active {
			background-color: lightgray;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// temp setting
// ------------------------------------------------------------------------------------------------
// layout control
.col_content {
	display: table-cell;
	border: 1px solid rgba(211, 211, 211, 0.2);
}
